<h1>Welcome</h1>

<br>
<form action='/sessions' method='POST'>
	<fieldset>
		<legend> LOGIN </legend>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<br>
		Email: 
		<input type='text' name=user[email]>
		<br><br>
		Password: 
		<input type='password' name=user[password]>
		<br><br>
		<input id="submit" type='submit' value='Log In'>
		<br><br>
	</fieldset>
</form>

<br><br>
<form action='/users' method='POST'>
	<fieldset>
		<legend> REGISTER </legend>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<br>
		First Name:  
		<input type='text' name=user[first_name]>
		<br><br>
		Last Name:  
		<input type='text' name=user[last_name]>
		<br><br>
		Email: 
		<input type='text' name=user[email]>
		<br><br>
		Location: 
		<input type='text' name=user[location]>
		<br><br>
		State: 

		<select name="user[state]">
			<option value='AK'>AK</option>
			<option value='AL'>AL</option>
			<option value='AR'>AR</option>
			<option value='AZ'>AZ</option>
			<option value='CA'>CA</option>
			<option value='CO'>CO</option>
			<option value='CT'>CT</option>
			<option value='DC'>DC</option>
			<option value='DE'>DE</option>
			<option value='FL'>FL</option>
			<option value='GA'>GA</option>
			<option value='HI'>HI</option>
			<option value='IA'>IA</option>
			<option value='ID'>ID</option>
			<option value='IL'>IL</option>
			<option value='IN'>IN</option>
			<option value='KS'>KS</option>
			<option value='KY'>KY</option>
			<option value='LA'>LA</option>
			<option value='MA'>MA</option>
			<option value='MD'>MD</option>
			<option value='ME'>ME</option>
			<option value='MI'>MI</option>
			<option value='MN'>MN</option>
			<option value='MO'>MO</option>
			<option value='MS'>MS</option>
			<option value='MT'>MT</option>
			<option value='NC'>NC</option>
			<option value='ND'>ND</option>
			<option value='NE'>NE</option>
			<option value='NH'>NH</option>
			<option value='NJ'>NJ</option>
			<option value='NM'>NM</option>
			<option value='NV'>NV</option>
			<option value='NY'>NY</option>
			<option value='OH'>OH</option>
			<option value='OK'>OK</option>
			<option value='OR'>OR</option>
			<option value='PA'>PA</option>
			<option value='RI'>RI</option>
			<option value='SC'>SC</option>
			<option value='SD'>SD</option>
			<option value='TN'>TN</option>
			<option value='TX'>TX</option>
			<option value='UT'>UT</option>
			<option value='VA'>VA</option>
			<option value='VT'>VT</option>
			<option value='WA'>WA</option>
			<option value='WI'>WI</option>
			<option value='WV'>WV</option>
			<option value='WY'>WY</option>
		</select>
		<br><br>
		Password: 
		<input type='password' name=user[password]>
		<br><br>
		Password Confirmation:
		<input type='password' name=user[password_confirmation]>
		<br><br>
		<input id="submit" type='submit' value='Register'>
		<br><br>
	</fieldset>
</form>


